html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 20px;
  color: $text-black;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 20vw - 30px);
}

.link {
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  background-color: $blue-light;
  line-height: 100%;
}

.link-cat {
  
}