html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

//я убрал отступы, чтобы легче было разобраться в своих. Если строго настрого запрещено - уберу :)
ul,
li {
  margin: 0;
  padding: 0;
  /*   list-style: none;
 */
}

//list-style лучше убирать только тем классам, которым нужно. А нужно было всем.
ul[class],
ol[class] {
  list-style: none;
}

// обнулять разрешается
p {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: $text-black;
  background-color: $bg-grey;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

//Start section. Создан для позиционирования элементов внутри. До этого был block, но block слишком общий класс.
.section {
  &__wrapper {
    padding: 120px 0;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    margin-bottom: 60px;
    text-align: center;
    line-height: 1.15;
  }

  &__title-top {
    margin-bottom: 16px;
    font-size: 36px;
  }

  &__subtitle {
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.9;
  }

  &__item-tags {
    flex-wrap: wrap;
    padding: 28px 30px 15px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  }
}

//End section


// Start навигационные кнопки слайдера. Стрелки - это две кнпоки.

//обертка стрелкам для позиционирования
.arrow {
  width: 55px;
  height: 45px;
  border: transparent;
  border-radius: 30px 0 0 30px;
  left: 0;
  outline: transparent;
  transition: all 0.3s;

  &:focus {
    background-color: #feb71d;
    box-shadow: inset 0px 0px 3px 1px #555;
  }

  &:hover {
    background-color: #feb71d;
  }

  &:active {
    transform: scale(0.9);
  }

  &--right {
    left: auto;
    right: 0;
    border-radius: 0 30px 30px 0px;
  }
}

// End навигационные кнопки слайдера

//звёздный рейтинг
.jq-ry-normal-group svg {
  stroke: #ffa726;
  stroke-width: 40;
}

//Вспомогательные классы

//отрицательный отступ с правой стороны блока (для карточек)
.margin-neg {
  margin: 0 -30px 0 0;
}

//жирный кегль
.text-bold {
  font-weight: 700;
}

//фон
.bg-blue {
  background-color: $blue-light;
}

.bg-grey {
  background-color: $btn-grey;
}

.bg-purple {
  background-color: #7347c1;
}

.bg-white {
  background-color: #fff;
}

//цвет текста
.clr-blue {
  color: #58c9e9;
}

.clr-bluelight {
  color: $blue-light;
}

.clr-green {
  color: #77de51;
}

.clr-purple {
  color: #7f4ec2;
}

.clr-red {
  color: #ff6a6d;
}

.clr-yellow {
  color: #feb71d;
}

//screen reader
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
  overflow: hidden;
}