html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

//я убрал отступы, чтобы легче было разобраться в своих. Если строго настрого запрещено - уберу :)
ul,
li {
  margin: 0;
  padding: 0;
/*   list-style: none;
 */}

//list-style лучше убирать только тем классам, которым нужно
ul[class], ol[class] {
  list-style: none;
}

// обнулять разрешается
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text-black;
  background-color: $bg-grey;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}

//block
.block {
  padding: 90px 0 60px;

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--pad {
      padding-top: 60px;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
  }

  &__title-top {
    margin-bottom: 16px;

    span {
      color: $blue-light;
    }
  }

  &__title-bottom {
    max-width: 60%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 50px;
  }

  &__item-title {
    justify-content: space-between;
    padding: 33px 30px 32px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    font-size: 30px;
    line-height: 100%;
    color: #000;
  }

  &__item-tags {
    flex-wrap: wrap;
    padding: 28px 30px 15px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  }
}

//навигационные кнопки слайдера
.swiper-btn__wrapper {
  width: 110px;
  height: 45px;
  background-color: $purple;
  border-radius: 30px;
  position: relative;
  
  &--blue {
    background-color: $blue-light;
  }
}

//Стрелки кнопки слайдера
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

//Логотип
.logo {
  max-width: 200px;
  height: 50px;
  
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
  }
}

.user { 
  display: flex;
  //отступ справа и размер аватарки наиболее популярные по макету
  &__avatar {   
    width: 28px;
    height: 28px;
    margin-right: 7px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
  
  &__name {
    display: inline-block;
    vertical-align: top;
    padding-top: 4px;
    line-height: 1.5;
    color: #000;
  }
}

//Вспомогательные классы
.text-bold {
  font-weight: 700;
}

.bg-blue {
  background-color: $blue-light;
}

.bg-grey {
  background-color: $btn-grey;
}

.bg-white {
  background-color: #fff;
}