$bg-grey: #eef1f5;

$bg-lightgrey: #f6f7fb;

$bg-darkgrey: #262b30;

$black: #333333;

$blue-light: #0674ec;

$blue: #2585ed;

$btn-white: #e6f1fd;

$btn-grey: #f1f3f6; 

$dark-grey: #898f96;

$grey: #7e8fa1;

$text-black: #555555;

$text-grey: #868c96;

$purple: #7347c1;

$white-title: #f3f3f8;

$border-button: #d9dfe5;

$footer-text: #ababab;









