$bg-grey: #eef1f5;

$grey: #7e8fa1;

$blue: #2585ed;

$text-black: #555555;

$black: #333333;

$blue-light: #0674ec;

$dark-grey: #898f96;

$border-button: #d9dfe5;

$white-title: #f3f3f8;

$text-grey: #868c96;

$purple: #7347c1;

$bg-light-grey: #f6f7fb;



