//файлы с нижним подчеркиванием игнорируются галпом
@import 'vars';
@import 'global';
@import 'fonts';


/* Шапка */

.header {
  &__inner-top {
    display: flex;
    justify-content: space-between;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
  }

  //Регистрация
  &__btn {
    align-self: center;
    padding: 4px 18px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: $blue-light;
    color: #fff;
    font-size: 14px;
    line-height: 28px;

  }
}

.header-top {
  background-color: $bg-grey;
  margin-bottom: 17px;
}

// Логотип
.logo {
  padding: 25px 0 21px 25px;
}

// Иконки
.user-list {
  margin-left: 47px;
  padding-top: 40px;

  &__link {
    position: relative;
    font-size: 0;
    padding-right: 17px;

    &+& {
      margin-left: 10px;
    }

    .lnr {
      font-size: 20px;
      color: $grey;
    }

    .lnr-num {
      position: absolute;
      bottom: 0;
      padding: 3px 7px;
      height: 22px;
      border-radius: 50%;
      font-weight: 550;
      font-size: 14px;
      color: #fff;
    }

    .lnr-num--red {
      background-color: #ff6a6c;
      left: 10px;

    }

    .lnr-num--green {
      background-color: #62d03b;
      left: 12px;

    }

    .lnr-num--blue {
      background-color: $blue-light;
      left: 12px;
    }
  }

}

// Аватарка
.user-avatar {
  margin-left: 30px;
  padding-top: 25px;
  font-size: 0;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $dark-grey;
  }
}

// Профиль
.user-info {
  margin-left: 26px;
  font-size: 16px;
  font-weight: 550;
  line-height: 120%;
  padding-top: 31px;

  &__name {
    color: $black;
  }

  &__wallet {
    color: $blue;
  }
}

/* Шапка */

/* Навигация */

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu {

  &__items {
    display: flex;
    padding-left: 15px;
    text-transform: uppercase;
  }

  &__item {
    &+& {
      margin-left: 35px;
    }
  }

  &__link {

    font-weight: 550;
    color: $black;
    font-size: 15px;
    line-height: 42px;
  }
}

/* Навигация */

/* Форма поиска */

.search-product {
  position: relative;
  width: 31%;

  &__input {
    width: 100%;
    overflow: hidden;
    padding: 8px 80px 7px 25px;
    border: 1px solid $border-button;
    border-radius: 30px;
    font-size: 15px;
    line-height: 30px;

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:focus {
      outline: transparent;
    }
  }

  // Иконка поиска
  &__icon {
    font-size: 0;
    position: absolute;
    right: 0;
    padding: 8px 29px;
    border: none;
    border-radius: 30px;
    background-color: $blue-light;
    color: #fff;
    cursor: pointer;
  }

  .lnr-magnifier {
    font-size: 15px;
    line-height: 30px;
  }
}

/* Форма поиска */

/* Титульный баннер */

.block-intro {
  margin-bottom: 190px;
  background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  opacity: 0.8;

  &__wrapper {
    position: relative;
    //Проверить высоту
    min-height: 730px;
  }

  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 236px;
    text-align: center;
    color: $white-title;
  }

  &__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 35px;

    &--bold {
      display: block;
      font-weight: 550;
    }
  }

  &__text {
    font-weight: 550;
    margin-bottom: 66px;
  }

  &__link {
    padding: 0 30px;
    font-size: 16px;
    line-height: 53px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;

    &+& {
      margin-left: 30px;
    }

    &--active {
      background-color: #fff;
      color: $blue-light;
    }
  }
}

//блок формы
.search {

  &__content-form {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    bottom: -65px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

    &,
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 6px;
      background-color: #fff;
    }

    &::before {
      opacity: 0.5;
      top: -13px;
      width: calc(100% - 30px);
      height: 20px;
    }

    &::after {
      width: calc(100% - 60px);
      height: 40px;
      opacity: 0.5;
      top: -26px;
    }

  }

  //поле
  &__cat-input {
    max-width: 711px;
    width: 100%;
    padding: 6px 170px 5px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    color: #676767;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    outline-style: none;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  //кнопка категории
  &__cat-btn {
    padding: 6px 38px 5px 20px;
    border: none;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    line-height: 42px;
    color: #555;
    background-color: #fff;
  }

  //кнопка поиска
  &__content-btn {
    padding: 6px 66px 5px;
    background-color: $blue;
    border: transparent;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
  }
}

.lnr-chevron-down {
  font-size: 12px;
  padding-left: 10px;
}

/* Титульный баннер */

/* Блок преимущества */

.block-benefits {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  &__item {
    width: calc(100% / 3);
    text-align: center;
    border-radius: 4px;
    background-color: #fff;

    &--active {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &+& {
      margin-left: 23px;
    }
  }

  &__img {
    padding: 40px 0;
  }

  &__title {
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 550;
    color: #010101;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    padding: 0 37px 46px;
    color: $text-black;
  }
}

/* Блок преимущества */

/* Блок 1 продукт */

.product {
  background-color: #eff1f5;

  &__title {
    width: 100%;
    margin: 120px 0 50px;
    padding: 45px 0 45px 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    font-size: 30px;
    color: #000;
    position: relative;
  }

  .swiper-btn__wrapper {
    position: absolute;
    width: 110px;
    height: 45px;
    right: 30px;
    top: 40px;
    background-color: $purple;
    border-radius: 30px;
  }

  .swiper-button-prev {
    margin-left: 7px;
  }

  .swiper-button-next {
    margin-right: 7px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 14px;
    line-height: 100%;
    color: #fff;
  }

  .swiper-slide {
    margin-bottom: 90px;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    background-color: #fff;
  }

  &__item-img {
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__item-info {
    position: relative;
    padding: 50px 50px 25px 50px;

    &--wide {
      max-width: calc(100% / 2);
    }
  }
}

.item {

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }

  &__user {
    font-size: 15px;
    line-height: 30px;
  }

  &__avatar {
    font-size: 0;
  }

  &__avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__user-name {
    padding-left: 10px;
    vertical-align: top;
  }

  &__link {
    padding-left: 25px;
    color: #7347c1;
    vertical-align: top;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
    color: $text-black;
  }

  &__tags {
    font-size: 15px;
    line-height: 30px;
    color: $text-grey;
    margin-bottom: 43px;
  }

  &__tag {
    padding: 0px 15px 0px 18px;
    background-color: #f1f3f6;
    border-radius: 30px;

    &+& {
      margin-left: 10px;
    }
  }

  &__info {
    padding-top: 23px;
    border-top: 1px solid #ececec;
    font-size: 15px;
    line-height: 30px;
  }

  &__price {
    padding: 0 19px 0 18px;
    border: none;
    border-radius: 30px;
    background-color: $blue-light;
    color: #fff;
  }

  &__fav {
    margin-left: 20px;
    color: $text-black;

    .lnr-heart {
      color: $purple;
    }
  }

  &__cart {
    margin-left: 20px;
    color: $blue-light;
  }

}

/* Блок 1 продукт */

/* Блок продукты */

.products {
  background-color: $bg-light-grey;
  padding-top: 120px;
}

.products__title {
  width: 100%;
  margin-bottom: 30px;
  padding: 45px 30px 45px 30px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  font-size: 30px;
  color: #000;
  position: relative;
}

.filter-btn {
  position: absolute;
  right: 30px;
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  line-height: 32px;
  color: $text-grey;
}

.filter-btn__text {
  padding-right: 25px;
}

.products__inner {
  margin-bottom: 50px;
}

.products__inner-btn {
  width: 100%;
  padding: 30px 20px 15px 20px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.products__btn {
  border: none;
  font-size: 15px;
  line-height: 25px;
  color: $text-grey;
  padding: 0px 15px 0px 18px;
  margin-bottom: 15px;
  background-color: #f1f3f6;
  border-radius: 30px;
  margin-left: 10px;
}

.products__items-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__item--vert {
  width: calc(100% / 3 - 30px);
  flex-direction: column;
}

.item__tags--hide {
  display: none;
}

.products__link--all {
  margin: 25px auto 120px;
  padding: 20px 33px;
  border-radius: 30px;
  background-color: $blue-light;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}



/* Блок продукты */