//файлы с нижним подчеркиванием игнорируются галпом
@import 'vars';
@import 'global';
@import 'fonts';


/* Start Header */

// Start header__top 
.header {
  &__top {
    background-color: $bg-grey;
  }

  &__top-inner {
    padding: 25px 0 25px 8px;
    display: flex;
    justify-content: space-between;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
  }

  //Button registration
  &__btn {
    //чтобы кнопка не растягивалась по высоте
    align-self: center;
    margin-right: 47px;
    padding: 11px 18px;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }

  // Иконки
  &__user {
    margin-right: 48px;
    padding-top: 15px;
  }

  &__user-link {
    position: relative;
    font-size: 0;
    padding-right: 17px;
    cursor: pointer;

    &+& {
      margin-left: 15px;
    }
  }

  .lnr {
    font-size: 20px;
    color: $grey;
  }

  .lnr-num {
    position: absolute;
    bottom: 15px;
    left: 12px;
    padding: 3px 7px;
    height: 22px;
    border-radius: 50%;
    font-weight: 550;
    font-size: 14px;
    color: #fff;

    &--red {
      background-color: #ff6a6c;
      left: 10px;
    }

    &--green {
      background-color: #62d03b;
    }

    &--blue {
      background-color: $blue-light;
    }
  }
}


// Logo
.logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(0.9);
  }

  &__img {
    line-height: 0;
  }

  &__text {
    padding-left: 5px;
    color: $blue-light;

    &--black {
      color: #000;
    }

    &--white {
      color: #fff;
    }
  }
}

// Start user-profile
.user-profile {
  display: flex;
  font-size: 16px;
  font-weight: 550;
  line-height: 100%;
}

.user-info {
  margin-left: 15px;
}

.user-name {
  color: $black;
  padding: 7px 0 4px;
}

.user-wallet {
  padding-top: 4px;
  margin: 0;
  color: $blue;
}
// End user-profile 
/* End header__top */

/* Start header__bottom */
.header__bottom-inner {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

/* Start navigation */
.menu {
  &__items {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
  }

  &__item {
    &+& {
      margin-left: 35px;
    }
  }

  &__link {
    font-weight: 550;
    color: $black;
    font-size: 15px;
    line-height: 42px;
  }
}
/* End Navigation */

// Start form-search 
.search-product {
  position: relative;
  width: 31%;

  &__input {
    width: 100%;
    overflow: hidden;
    padding: 8px 80px 7px 25px;
    border: 1px solid $border-button;
    border-radius: 30px;
    font-size: 15px;
    line-height: 30px;

    &::-webkit-search-cancel-button {
      display: none;
    }

    &:focus {
      outline: transparent;
    }
  }

  //search-icon
  &__icon {
    font-size: 0;
    position: absolute;
    right: 0;
    padding: 8px 29px;
    border: none;
    border-radius: 30px;
    background-color: $blue-light;
    color: #fff;
    cursor: pointer;
  }

  .lnr-magnifier {
    font-size: 15px;
    line-height: 30px;
  }
}
// End form-search
/* End header__bottom */

/* Start intro */
.intro {
  background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  opacity: 0.8;

  &__wrapper {
    min-height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  &__inner {
    color: $white-title;
  }

  &__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 35px;

    &--bold {
      display: block;
      font-weight: 550;
    }
  }

  &__text {
    font-weight: 550;
    margin-bottom: 66px;
  }
}

//form 
.intro-form {
  z-index: 56;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  bottom: -65px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

  &,
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #fff;
  }

  &::before {
    opacity: 0.5;
    top: -13px;
    width: calc(100% - 30px);
    height: 20px;
  }

  &::after {
    width: calc(100% - 60px);
    height: 40px;
    opacity: 0.5;
    top: -26px;
  }

  &__search {
    max-width: 711px;
    width: 100%;
    padding: 6px 170px 5px 20px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    color: #676767;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    outline-style: none;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__btn {
    padding: 6px 38px 5px 20px;
    border: none;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    line-height: 42px;
    color: #555;
    background-color: #fff;
  }

  &__btn-search {
    padding: 6px 66px 5px;
    background-color: $blue;
    border: transparent;
    border-radius: 4px;
    font-size: 16px;
    line-height: 42px;
    color: #fff;
  }
}

.lnr-chevron-down {
  font-size: 12px;
  padding-left: 10px;
}

/* End intro */

/* Start benefits */
.benefits {
  background-color: #fff;

  &__wrapper {
    padding-top: 90px;
  }

  &__item {
    &:hover {
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
    }
  }
}

/* End benefits */

/* Start product */
.swiper-button-prev {
  margin-left: 7px;
}

.swiper-button-next {
  margin-right: 7px;
}

/* End product */

/* Start products */
.products {
  background-color: $bg-lightgrey;

  &__inner {
    margin-bottom: 30px;
  }

  &__btn {
    text-align: center;
  }
}

.filter-btn {
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  color: $text-grey;
}

.filter-btn__text {
  margin-right: 25px;
  vertical-align: top;
}

.filter-btn__icon {}

/* End products */

/* Start products-feed */
.swiper-container--multi {
  overflow: hidden;
}

.products-feed__item {
  flex-direction: column;
}

/* End products-feed */

/* Start stats */
.stats {
  background-color: rgba(0, 0, 0, 0.8);

  &__inner {
    padding: 5px 0 35px;
  }

  &__item {
    text-align: center;

    .lnr {
      font-size: 48px;
      line-height: 100%;
    }

    &--yellow {
      color: #feb71d;
    }

    &--blue {
      color: #58c9e9;
    }

    &--green {
      color: #77de51;
    }

    &--red {
      color: #ff6a6d;
    }
  }

  &__icon {
    margin-bottom: 45px;
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 15px;
  }

  &__text {
    color: #fff;
  }
}

/* End stats */

/* Start benefits */
.benefits {
  .lnr {
    font-size: 60px;
    display: block;
    line-height: 100%;
    margin-bottom: 40px;
  }

  .lnr-license {
    color: $blue-light;
  }

  .lnr-magic-wand {
    color: #7f4ec2;
  }

  .lnr-lock {
    color: #77de51;
  }

  .lnr-chart-bars {
    color: #feb71d;
  }

  .lnr-leaf {
    color: #58c9e9;
  }

  .lnr-phone {
    color: #ff6a6d;
  }

  //решил не ставить нумерацию в global, так как она только здесь есть
  &__num {
    position: absolute;
    line-height: 100%;
    top: 20px;
    left: 20px;
    font-size: 48px;
    color: rgba(92, 135, 248, 0.2);
  }
}

/* End benefits */


/* Start offers (предложения) */
.offers {
  &__inner {
    text-align: center;
    color: #fff;
  }

  &__img {
    margin-bottom: 50px;
  }

  &__item {
    max-width: calc(100% / 2);
    width: 100%;
    padding: 100px 0;
  }

  &__item--blue {
    background-color: $blue-light;
  }

  &__item--purple {
    background-color: $purple;
  }

  &__link {
    margin-top: 50px;

    &--purple {
      color: $purple;
    }
  }
}

/* End offers (предложения) */

/* Start feedback (отзывы) */
.feedback {
  background-color: #fff;

  &__item {
    max-width: calc(100% / 2 - 15px);
    padding: 50px 42px;
    margin-bottom: 30px;
    border-radius: 4px;
    border-left: 2px solid $blue-light;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
    font-size: 16px;
    color: $text-black;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__user {
    display: flex;
  }

  &__user-info {
    margin-left: 20px;
  }

  &__user-name {
    padding-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #000;
  }

  &__text {
    line-height: 30px;
  }

  .lnr {
    padding-top: 5px;
    font-size: 60px;
    line-height: 100%;
    color: #e8e8e8;
  }

  &__link {
    margin: 30px auto;
  }
}

/* End feedback (отзывы) */

/* Start latest */
.latest {
  background-color: $bg-grey;

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-top: 1px solid #ececec;
    font-size: 15px;
    line-height: 30px;
    color: #999;

    .lnr-clock {
      color: $blue-light;
    }

    .lnr-eye {
      margin-left: 30px;
    }
  }

  &__date {
    border-right: 1px solid #ececec;
    width: 50%;
  }
}

/* End latest */


/* Start info */
.info {
  background-color: #fff;

  &__inner {
    display: flex;
    font-size: 24px;
    color: #333;
  }

  &__item {
    width: calc(100% / 2);
    /* блок расширил за счет отступов, чтобы линия посередине соответствовала макету. Мне показалось это наиболее доступным */
    padding: 60px 0;
    text-align: center;
  }

  &__item--border {
    border-right: 1px solid #ececec;
  }

  &__img {
    display: block;
    margin: 0 auto 30px;
  }

  &__link {}

  &__link--blue {
    color: $blue-light;
  }

  &__link--purple {
    color: $purple;
  }
}

/* End info */

/* Start join */
.join {
  background-image: linear-gradient(90deg, rgba(114, 33, 160, 0.9) 0%, rgba(64, 48, 201, 0.9) 46%, rgba(13, 62, 242, 0.9) 100%);

  &__wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }

  &__title-bottom {
    max-width: 100%;
    margin-bottom: 50px;
  }

  &__link {
    display: inline-block;
    margin: 0 auto 20px;
  }
}

/* End join */

/* Start footer */
.footer {
  background-color: $bg-darkgrey;
  padding-bottom: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0 120px;
    color: $footer-text;
  }

  &__item {
    font-size: 15px;
  }

  &__contacts {
    max-width: 270px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__about {
    max-width: 130px;
  }

  &__support {
    max-width: 140px;
  }

  &__newsletter {
    max-width: 360px;
  }

  &__item-title {
    font-size: 18px;
    line-height: 45px;
    color: #fff;
  }

  &__item-text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 28px;
  }

  &__form {
    margin-bottom: 50px;

    .search-product {
      width: 100%;

      &__icon {
        font-size: 15px;
        line-height: 32px;
      }
    }
  }

  &__bottom {
    background-color: #192027;
    padding: 40px 0;
    text-align: center;
    font-size: 15px;
    line-height: 27px;

    span {
      color: #fff;
    }
  }
}

.footer-list {
  line-height: 32px;

  &__contacts {
    line-height: 26px;
  }

  &__item-text {
    margin-bottom: 30px;
    line-height: 28px;
  }

  &__link {
    position: relative;
    font-size: 15px;
    color: $footer-text;

    &--padding {
      padding-left: 30px;
    }

    span {
      position: absolute;
      left: 0;
    }
  }
}

.lnr {
  font-size: 16px;
  line-height: 28px;
}

.social-list {
  display: flex;

  &__item {
    &+& {
      margin-left: 13px;
    }
  }

  &__link {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    text-align: center;
    padding-top: 13px;

    &--fb {
      background-color: #395799;
    }

    &--twitter {
      background-color: #19b2f5;
    }

    &--google {
      background-color: #f05b44;
    }

    &--pinterest {
      background-color: #9c0c1c;
    }

    &--linkedin {
      background-color: #0da6be;
    }

    &--dribbble {
      background-color: #ea4c89;
    }
  }
}

/* End footer */