//файлы с нижним подчеркиванием игнорируются галпом
@import 'vars';
@import 'global';
@import 'fonts';


.header {
  background-color: #eef1f3;

  &__inner-top {
    display: flex;
    justify-content: space-between;
  }

  &__profile {
    display: flex;
    justify-content: space-between;
  }

  &__button {}
}

.header-top {}

.container {
  margin: 0 auto;
  max-width: calc(100% - 20vw - 30px);
}

.logo {}

.user-list {
  margin-left: 50px;

  &__link {
    font-size: 0;
    

    &+& {
      margin-left: 15px;
    }

    .lnr {
      font-size: 20px;
      color: $grey;
      position: relative;
    }

   /*  .lnr-num {
      position: absolute;
      top: 0;
      font-family: 'Quicksand';
      font-weight: 550;
      font-size: 14px;
      line-height: 42;
    } */
  }

}

.user-avatar {
  margin-left: 50px;
  font-size: 0;

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.user-info {
  margin-left: 22px;
  font-size: 22px;
  font-family: 'Quicksand';
  font-weight: 550;

  &__name {
    color: $black;
  }

  &__wallet {
    color: $blue;
  }
}

.menu {

  &__items {}

  &__item {}

  &__link {}
}

.search-product {

  &__field {}

  &__icon {}
}