.advantages {
  background-color: #fff;

  &__wrapper {
    padding:115px 0 90px;
  }

  &__inner {
    counter-increment: questionNumber - 1;
  }

  &__item {
    position: relative;
    max-width: 360px;
    margin: 0 30px 30px 0;
    padding: 50px 33px 56px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    transition: box-shadow 0.3s;
    counter-increment: questionNumber;

    &::before {
      content: counters(questionNumber, ".", decimal-leading-zero) " ";      position: absolute;
      top: 11px;
      left: 20px;
      font-size: 48px;
      line-height: 100%;
      color: rgba(92, 135, 248, 0.2);
    }
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.15;
    @include trim(2);
  }

  &__icon {
    font-size: 60px;
    display: block;
    line-height: 1;
    margin-bottom: 40px;
  }

  
  &__text {
    line-height: 1.9;
    color: $text-black;
    @include trim(4);
  }
}

