.btn-cat {
  padding: 7px 15px 7px 18px;
  border-radius: 30px;
  background-color: #f1f3f6;
  font-size: 15px;
  line-height: 100%;
  color: $text-grey;
  border: none;
  margin: 0 10px 15px 0;
  transition: all 0.3s;

  &:hover {
    color: #fff;
    background-color: $blue-light;
  }

  &:focus {
    outline: transparent;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
  }

  &--big {
    padding: 10px 20px;
    background-color: #f1f3f6;
  }
}
