.info {
  background-color: #fff;

  &__inner {
    display: flex;
    font-size: 24px;
    color: #333;
    padding: 60px 0;
    position: relative;

    &::after {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      right: 50%;
      top: 0;
      background-color: #ececec;
    }
  }

  &__item {
    width: 50%;
    text-align: center;
    line-height: 1.7;
  }

  &__img {
    width: 160px;
    height: 120px;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
  }

  &__link {
    position: relative;
    transition: all 0.5s;

    &:active {
      word-spacing: 4px;
    }

    &::before {
      content: "";
      width: 0;
      right: 50%;
      bottom: -6px;
      position: absolute;
      height: 3px;
      background-color: $blue-light;
      transition: all 0.5s;
    }

    &:hover {
      &::before {
        width: 100%;
        right: 0;
        left: auto;
      }
    }
  }
}
