.intro {
  background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  opacity: 0.8;

  &__wrapper {
    min-height: 725px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  &__inner {
    color: $white-title;
    padding-bottom: 85px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    line-height: 1.15;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 68px;
  }

  &__link {
    @include btn-big;
    border: 1px solid #fff;
    margin: 0 15px;

    &:hover {
      background-color: #fff;
      color: $blue-light;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  //form-body
  &__form {
    position: absolute;
    padding: 40px 40px 42px;
    bottom: -66px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);

    &,
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 6px;
      background-color: #fff;
    }

    &::before {
      opacity: 0.5;
      top: -13px;
      width: calc(100% - 30px);
      height: 20px;
    }

    &::after {
      width: calc(100% - 60px);
      height: 40px;
      opacity: 0.5;
      top: -26px;
    }
  }
}

//form-content
.form-search {
  display: flex;
  justify-content: space-between;
  line-height: 2.6;

  &__field {
    width: 76%;
    display: flex;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $blue-light;
    }
  }

  &__input {
    width: 100%;
    padding: 17px 15px 18px 27px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: transparent;
    transition: box-shadow 0.2s;

    &:focus,
    &:active {
      box-shadow: inset 0px 0px 3px 1px $blue-light;
    }


    &::placeholder {
      line-height: inherit;
      color: #676767;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__select {
    padding: 6px 70px 6px 16px;
    border: none;
    border-left: 1px solid #dcdcdc;
    border-radius: 0 4px 4px 0;
    line-height: inherit;
    color: #555;
    appearance: none;
    outline: transparent;
    cursor: pointer;
    transition: border-left 0.3s, box-shadow 0.3s;

    &:hover {
      border-left: 1px solid $blue-light;
    }

    &:focus {
      box-shadow: inset 0px 0px 3px 1px $blue-light;
    }
  }

  &__icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 12px;
  }


  &__submit {
    padding: 0 67px;
    border-radius: 4px;
    box-shadow: none;

    &:hover {
      box-shadow: inset 0px 0px 0px 1px #555;
      background-color: transparent;
      color: #555;
    }

    &:focus,
    &:active {
      transform: scale(0.9);
    }
  }
}

//end intro-form