.join {
  background-image: linear-gradient(90deg, rgba(114, 33, 160, 0.9) 0%, rgba(64, 48, 201, 0.9) 46%, rgba(13, 62, 242, 0.9) 100%);
  padding: 110px 0;

  &__wrapper {
    text-align: center;
    color: #fff;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 1;
  }

  &__subtitle {
    font-size: 18px;
  }

  &__link {
    @include btn-white;
    display: inline-block;
    padding: 11px 42px;
    transition: 0.3s;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}
