.latest {
  background-color: $bg-grey;

  &__wrapper {
    padding: 110px 0 90px;
  }

  &__title-top {
    margin-bottom: 17px;
  }

  &__item {
    margin-right: 30px;
  }

  &__inner {
    padding: 24px 23px 0 28px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.3;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.9;
  }

  &__info {
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-top: 1px solid #ececec;
    font-size: 15px;
    color: #999;
  }

  &__date {
    border-right: 1px solid #ececec;
    width: 50%;
  }

  &__icon {
    margin-left: 30px;
  }
}
