.offers {
  &__inner {
    text-align: center;
    color: #fff;
  }
 
  &__item {
    max-width: calc(100% / 2);
    width: 100%;
    padding: 100px 0;
    &--blue {
      background-color: $blue-light;
    }
    
    &--purple {
      background-color: $purple;
    }
  }
  
  &__img {
    margin-bottom: 38px;
    min-height: 105px;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url(../images/icons/sell-icon.svg);
    }

    &--2 {
      background-image: url(../images/icons/buy-icon.svg);
    }
  }

  &__title {
    margin-bottom: 46px;
  }

  &__link {
    transition: 0.3s;
    
    &--purple {
      transition: 0.3s;
      color: $purple;
    }

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}
