.offers {
  
  &__item {
    max-width: 50%;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  }
  
  &__img {
    width: 120px;
    height: 100px;
    margin: 0 auto 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__subtitle {
    max-width: 580px;
    @include trim(4);
  }

  &__link {
    display: inline-block;
    padding: 12px 0 11px;
    min-width: 190px;
    background-color: #fff;
    color: $blue-light;
    transition: all 0.5s;

    &--purple {
      color: $purple;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px #000;
    }
    
    &:hover {
      @include btn-transp;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
