.offers {
  
  &__item {
    max-width: 50%;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  
  &__img {
    width: 120px;
    height: 100px;
    margin: 0 auto 38px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__title {
    margin-bottom: 38px;
  }

  &__subtitle {
    max-width: 580px;
    @include trim(4);
  }

  &__link {
    @include btn-white;
    @include btn-big;
    
    &--purple {
      color: $purple;
    }
    
    &:hover {
      @include btn-transp;
      box-shadow: inset 0px 0px 0px 1px #fff;
      color: #fff;
    }
    
    &:focus,
    &:active {
      transform: scale(0.9);
    }
  }
}
