.products {
  background-color: $bg-lightgrey;
  
  &__title {
    margin-bottom: 30px;
  }
  
  &__wrapper-btn {
    text-align: center;
  }
  
  &__btn-all {
    @include btn-big;
    display: block;
    margin: 0 auto;
    line-height: 2;
    
    &:focus {
      box-shadow: 0px 0px 5px 0px #0b63c2;
    }
    
    &:hover {
      background-color: $btn-hover;
    }
    
    &:active {
      transform: scale(0.9);
    }
  }
  
  &__filter {
    position: relative;
    z-index: 2; //Контекст наложения исправлен. Блок больше не заходит за карточки
    
    &:hover {
      .products__filter-icon {
        transform: rotate(45deg);
      }
    }
  }

  &__filter-btn {
    background-color: transparent;
    border: transparent;
    font-size: 16px;
    color: #747b86;
    cursor: pointer;
    outline: transparent;

    &:focus,
    &:active {
      .products__filter-icon {
        transform: rotate(90deg);
      }
    }
  } 

  &__filter-text {
    margin-right: 25px;
    vertical-align: top;
  }

  &__filter-icon {
    transition: transform 0.3s;
  }

  &__options {
    display: none;
    position: absolute;
    top: 57px;
    right: -22px;
    width: 182px;
    padding: 14px 10px 15px 28px;

    border-radius: 3px;
    box-shadow: 0px 5px 20px 0px rgba(82, 85, 90, 0.2);
    background-color: #fff;
    line-height: 1;


    &::after,
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 20px;
      width: 18px;
      height: 18px;
      background-color: #fff;
      transform: rotate(45deg);
      box-shadow: 0px 5px 20px 0px rgba(82, 85, 90, 0.2);
      z-index: -1;
    }

    &::before {
      z-index: 1;
      box-shadow: none;
    }
  }

  &__option {
    font-size: 15px;
    color: #747b86;
    transition: color 0.3s;

    &:hover {
      color: $blue-light;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding: 30px 30px 15px;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 50px;
  }

  /* Расстояния между кнопками (как и сами кнопки) неодинаковые. Поэтому от PixelPerfect отличается */
  &__btn {
    padding: 6px 20px;
    margin-bottom: 15px;
  }
}