.product {
  &__title {
    margin-bottom: 50px;
  }
  
  &__card {
    max-width: 100%;
    flex-direction: row;
    margin: 0;
  }

  &__img {
    border-radius: 4px 0 0 4px;
    height: 100%;
  }

  &__card-inner {
    max-width: 42%;
    padding: 35px 56px 25px 50px;
  }

  &__card-title {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    @include trim;
  }

  &__text {
    @include trim(4);
  }

  &__tag {
    display: inline-block;
  }

  &__tags {
    margin-bottom: 40px;
  }
  &__info {
    padding: 24px 0 0;
  }
  &__btn {
    padding: 0;
    margin-left: 20px;
  }

  &__heart {
    margin-right: 5px;
  }

  &__price {
    background-color: $blue-light;
    color: #fff;
  }

  &__star {
    margin-left: auto;
  }
}

.rate-star {
  width: 88px !important;
  padding: 0;
}

