.products-feed {

  &__wrapper {
    padding-bottom: 90px;
  }
  
  &__container {
    overflow: hidden;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__card {
    max-width: 100%;
    width: 100%;
  }
} 