/* высота строки на макете не соответствует действительности. Подбирал свою  */
.stats {
  background-color: rgba(0, 0, 0, 0.8);

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
  }

  &__item {
    text-align: center;
    
    &--yellow {
      color: #feb71d;
    }

    &--blue {
      color: #58c9e9;
    }
    
    &--green {
      color: #77de51;
    }
    
    &--red {
      color: #ff6a6d;
    }
  }
  
  &__icon {
    margin-bottom: 38px;
    line-height: 1;
    font-size: 48px;
  }
  
  &__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 1;
  }

  &__text {
    font-size: 18px;
    color: #fff;
  }
}