.btn {
  border: transparent;
  border-radius: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 2;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  outline: transparent;

  &--cat {
    margin: 0 7px 10px 0;
    padding: 4px 8px 4px 15px;
    box-shadow: none;
    background-color: #f1f3f6;
    color: $text-grey;
  }

  &:focus {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &--white {
    background-color: #fff;
    color: $blue-light;
  }
}