.btn {
  border: 1px solid #fff;
  border-radius: 30px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  line-height: 2;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;

  &:focus {
    outline: transparent;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  &--big {
    min-width: 190px;
    line-height: 72px;

    &:hover {
      background-color: #fff;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
      color: $blue-light;
    }
  }

  &--white {
    background-color: #fff;
    color: $blue-light;
  }
}