.footer {
  background-color: $bg-darkgrey;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
    color: $footer-text;
  }

  &__contacts {
    max-width: 270px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
    line-height: 1.9;
  }

  &__address {
    font-style: inherit;
    line-height: 1.7;
  }

  &__link {
    //чтобы все иконки размещались по центру текста
    display: flex;
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
  }

  &__icon {
    position: absolute;
    align-self: center;
    left: 0;
    font-size: 16px;
    line-height: 1.7;
  }

  &__about {
    max-width: 160px;
    margin: 10px auto 0 70px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 2.35;
    color: #fff;
  }

  &__list {
    line-height: 2.15;

    &-link {
      color: $footer-text;
      transition: transform 0.3s;
    }
  }

  &__support {
    max-width: 180px;
    width: 100%;
    margin: 10px 16px 0 0;
  }

  &__newsletter {
    max-width: 360px;
    width: 100%;
    margin-top: 10px;
  }

  &__form {
    margin-bottom: 45px;
  }

  &__social {
    display: flex;

    &-item {
      margin-right: 13px;
    }

    &-link {
      font-size: 0;
    }
  }

  &__bottom {
    background-color: #192027;
    padding: 28px 0 40px;
    text-align: center;
    line-height: 1.8;

    &-link {
      color: #fff;
      cursor: pointer;
    }
  }
}