.footer {
  background-color: $bg-darkgrey;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
    color: $footer-text;
  }

  &__contacts {
    max-width: 270px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
    line-height: 1.9;
  }

  &__address {
    font-style: inherit;
    line-height: 1.7;
  }

  &__link {
    //чтобы все иконки размещались по центру текста
    display: flex;
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: rotate(1deg);
    }
  }

  &__icon {
    position: absolute;
    align-self: center;
    left: 0;
    font-size: 16px;
    line-height: 1.7;
  }

  &__about {
    max-width: 190px;
    margin: 10px auto 0 70px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 2.35;
    color: #fff;
  }

  &__list {
    line-height: 2.15;
  }

  &__list-item {
    color: $footer-text;
    transition: color 0.2s, transform 0.3s;

    &:hover {
      transform: scale(1.1);

      &:active {
        color: #fff;
      }
    }
  }

  &__support {
    max-width: 180px;
    width: 100%;
    margin: 10px 16px 0 0;
  }

  &__newsletter {
    max-width: 360px;
    width: 100%;
    margin-top: 10px;
  }

  &__form {
    margin-bottom: 45px;
  }

  &__social {
    display: flex;
    transition: all 0.3s;
  }

  &__social-item {
    margin-right: 13px;

    img {
      border-radius: 50%;
      transition: all 0.3s;

      &:active {
        box-shadow: 0px 0px 10px 2px #fff;
      }
    }

    &:nth-child(even):hover img {
      transform: rotate(45deg);
    }

    &:nth-child(odd):hover img {
      transform: rotate(-45deg);
    }
  }

  &__social-link {
    font-size: 0;
  }



  &__bottom {
    background-color: #192027;
    padding: 28px 0 40px;
    text-align: center;
    line-height: 1.8;
  }

  &__bottom-link {
    color: #fff;
    cursor: pointer;
  }
}