/* Start Header */

// Start header__top 
.header {

  &__top-inner {
    padding: 25px 0px 25px 15px;
    display: flex;
    justify-content: space-between;
  }

  &__profile {
    display: flex;
    margin-left: auto;
  }

  //Button registration
  &__btn {
    //чтобы кнопка не растягивалась по высоте
    align-self: center;
    margin-right: 49px;
    min-width: 140px;
    padding: 10px 0;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    transition: box-shadow padding-bottom 0.3s;
    
    &:hover {
    box-shadow: 0px 3px 5px 0px #000;
    }

    &:focus {
      padding-bottom: 7px;
      box-shadow: 0px 3px 5px 0px #000;
    }

  }

  // Иконки
  &__items {
    margin-right: 16px;
    padding-top: 10px;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
    padding-right: 13px;
    transition: opacity 0.3s;
    
    &:hover {
      opacity: 0.6;
    }
  }
  
  &__link {
    position: relative;
    font-size: 0;
  }

  &__icon {
    font-size: 20px;
    color: $grey;
  }

  .lnr-num {
    position: absolute;
    bottom: 12px;
    left: 12px;
    padding: 3px 8px 3px 7px;
    height: 22px;
    border-radius: 20px;
    font-weight: 550;
    font-size: 14px;
    color: #fff;
  
    &--red {
      background-color: #ff6a6c;
      left: 10px;
    }

    &--green {
      background-color: #62d03b;
    }
  }

  &__top-avatar {
    margin-right: 5px;
  }

  &__form {  
  max-width: 360px;
  width: 100%;
  }

  //start user
  &__user {
    max-width: 240px;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  &__name {
    font-weight: 550;
  }

  &__price {
    color: $blue;
  }
  /* End header__top */

  /* Start header__bottom */
  &__bottom {
    background-color: #fff;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 18px 16px;
  }
}

// Start navigation 
.menu {
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3px;
    text-transform: uppercase;
  }

  &__item {
    margin-right: 35px;
  }

  &__link {
    font-weight: 550;
    color: $black;
    font-size: 15px;
    line-height: 2.8;
    position: relative;
    transition: 0.5s;

    &::before {
      content: "";
      width: 0;
      left: auto;
      right: 0;
      bottom: -6px;
      position: absolute;
      height: 3px;
      transform: rotate(2deg);
      background-color: $blue-light;
      opacity: 0.7;
      transition: 0.5s;
    }

    &:hover::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}

// End Navigation 




