.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  font-size: 30px;
  color: #000;
  
  &__arrows {
    width: 110px;
    position: relative;
    }
  //перебить стандартные стили
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 14px;
    color: #fff;
   }
  
}